@import 'semantic';

html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}

.button, .browse{
  background: rgba(0, 0, 0, 0.35);
color: #fff;
display: block;
font-size: 12px;
line-height: 1.5;
padding: 5px 10px;
position: absolute;
text-transform: uppercase;
top: 5px;
left: 5px;
z-index: 2;
}
.dropdown{
  z-index: 2;
  background: red;
}
